body {
	margin: 0 0 0 0;
	font-family: "Century Gothic", Tahoma, Verdana, Arial, sans-serif;
	padding: 0px 0px 0px 0px;
	color: #fff;
}

.login {
	background: url('images/Login-blue.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.rateImpactor {
	background: url("images/inner-bg.jpg") repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	position: relative;
}

.middle {
	margin: 0;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	padding-top: 50%;
	transform: translate(-50%, -50%)
}

.heading {
	font-size: 26px;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	padding-bottom: 30px;
}

.loginFieldWrapper {
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.4);
	display: inline-block;
	padding: 20px 10px;
}

.form-control-extended {
	border-radius: 5px;
}

.btn-submit, .btn-submit:focus {
	background-image: url("images/login-button.png");
	width: 100%;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-size: 100%;
}

.footer {
	font-size: .8em;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.form-group-extended:last-child {
	margin-bottom: 0px;
}

.apptabs ul li a {
	background-image: url("images/tabs.png");
	background-size: 100% 100%;
	border-right: 1px solid rgb(95, 158, 193);
	font-weight: bold;
	padding: 25px 0px;
	border-radius: 0px;
	font-size: 1.1em;
	color: rgb(26, 61, 91);
	font-size: 1em;
	color: rgb(35, 82, 124);
}

.apptabs ul li:FIRST-CHILD a {
	padding: 0px;
}

.apptabs ul li:FIRST-CHILD a.activeTab:after {
	border: none;
}

.activeTab {
	color: #fff !important;
	background-image: url("images/activeTab.png") !important;
}

.activeTab:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-top: solid 10px rgb(35, 82, 124);
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
}

.activeTab:after: {
	border: none;
}

.inlay-shadow {
	box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-webkit-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-moz-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-o-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	border: 1px solid #000;
	border-radius: 5px;
	background: #fff;
	color: #000;
}

.select-padding {
	font-size: 0.8em;
	padding: 4px 5px !important;
	margin-left: 10px;
	width: 120px;
}

.line-height {
	line-height: 2em;
	height: 2em;
}

.black-font {
	color: #000;
	font-size: 0.9em;
}

.width20pc {
	width: 20% !important;
}

.options {
	background: rgba(23, 23, 23, 0.4);
}

.leftBorder {
	border-left: 1px solid #000;
}

.rightBorder {
	border-right: 1px solid #000;
	padding: 20px 15px;
}

.top-buffer {
	padding:10px 12px 10px 0px;
	line-height: 2em;
}

.ngrs-range-slider {
	margin: 0px;
	border: none;
	border-radius: 15px;
}

.ngrs-range-slider .ngrs-handle {
	border-radius: 25px;
	box-shadow: inset 0px 0px 10px 0px #5F5F5F;
	border: 5px solid #A1A1A1;
}

.diff {
	text-align: center;
	background: #454545;
	box-shadow: inset 0px 0px 24px 0px #242424;
	-webkit-box-shadow: inset 0px 0px 24px 0px #242424;
	-moz-box-shadow: inset 0px 0px 24px 0px #242424;
	-o-box-shadow: inset 0px 0px 24px 0px #242424;
	border: 1px solid #000;
}

.paddingCorrection {
	padding: 9px 12px;
}