body {
	margin: 0 0 0 0;
	font-family: "Century Gothic", Tahoma, Verdana, Arial, sans-serif;
	padding: 0px 0px 0px 0px;
	color: #fff;
}

.login {
	background: url('images/Login-blue.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.rateImpactor {
	background: url("images/inner-bg.jpg") repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	position: relative;
}

.middle {
	margin: 0;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	padding-top: 50%;
	transform: translate(-50%, -50%)
}

.heading {
	font-size: 26px;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	padding-bottom: 30px;
}

.loginFieldWrapper {
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.4);
	display: inline-block;
	padding: 20px 10px;
}

.form-control-extended {
	border-radius: 5px;
}

.btn-submit, .btn-submit:focus {
	background-image: url("images/login-button.png");
	width: 100%;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-size: 100%;
}

.footer {
	font-size: .8em;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.form-group-extended:last-child {
	margin-bottom: 0px;
}

.apptabs ul li a {
	background-image: url("images/tabs.png");
	background-size: 100% 100%;
	border-right: 1px solid rgb(95, 158, 193);
	font-weight: bold;
	padding: 25px 0px;
	border-radius: 0px;
	font-size: 1.1em;
	color: rgb(26, 61, 91);
	font-size: 1em;
	color: rgb(35, 82, 124);
}

.activeTab {
	color: #fff !important;
	background-image: url("images/activeTab.png") !important;
}

.activeTab:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-top: solid 10px rgb(35, 82, 124);
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
}

.inlay-shadow {
	box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-webkit-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-moz-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	-o-box-shadow: inset 0px 0px 24px 0px #ABABAB;
	border-radius:5px;
	padding:5px 25px;
	background: #fff;
	color:#000;
}