<form ng-submit="loginCheck()">
	<div class="wrapper">
		<div class="middle">
			<div class="heading row">Executive Dashboard</div>
			<div class="col-sm-2"></div>
			<div class="loginFieldWrapper col-sm-9 row">
				<div class="form-group col-sm-12">
					<input type="text" placeholder="USER NAME" name="username"
						class="form-control form-control-extended" ng-model="username" />
				</div>
				<div class="form-group col-sm-12">
					<input type="password" placeholder="PASSWORD" name="password"
						class="form-control .form-control-extended" ng-model="password" />
				</div>
				<div class="form-group form-group-extended col-sm-12 ">
					<input type="button" value="LOGIN" class="btn btn-submit"
						name="submit" ng-click='loginCheck()'/>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="footer">By Entering the App, you agree to terms and
	conditions.</div>