<div class="apptabs"></div>
<div style="padding: 30px 30px 0px 30px;">
	<div style="padding-bottom: 4em;">
		<div class="form-inline ">
			<div class="form-group col-sm-3 line-height">
				<label class="pull-left black-font">Business Unit</label> <select
					class=" pull-left inlay-shadow select-padding">
					<option ng-repeat="businessunit in businessunits">{{businessunit.businessunitname}}</option>
				</select>
			</div>
			<div class="form-group col-sm-3 line-height width20pc">
				<label class="pull-left black-font">State</label> <select
					class=" pull-left inlay-shadow select-padding">
					<option ng-repeat="stateData in usstates">{{stateData.stateletters}}</option>
				</select>
			</div>
			
			<div class="form-group col-sm-4 line-height">
				<label class="pull-left black-font">Rate Effective Date </label> <select
					class=" pull-left inlay-shadow select-padding" class="form-control">
					<option ng-repeat="date in rateeffdates">{{date.effedate}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="options">
		<div class="row">
			<div class="col-sm-7 rightBorder">
				<div class="row">
					<div class="col-sm-5 noPadding">
						<div class="col-sm-offset-2 top-buffer">CURRENT BOOK OF
							BUSINESS</div>
					</div>
					<div class="col-sm-5 top-buffer">
						<div range-slider min="0" max='current.maxCurrent' model-min="current.min" model-max="current.max"></div>
					</div>
					<div class="col-sm-2 top-buffer paddingCorrection">
						<div class="diff "> <span>{{current.max - current.min | number : 3}}</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 noPadding">
						<div class="col-sm-offset-2 top-buffer">REVISED BOOK OF
							BUSINESS</div>
					</div>
					<div class="col-sm-5 top-buffer">
						<div range-slider min="0" max="revised.maxRevised" model-min="revised.min" model-max="revised.max" ></div>
					</div>
					<div class="col-sm-2 top-buffer paddingCorrection">
						<div class="diff "> <span>{{revised.max - revised.min | number : 3}}</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 noPadding">
						<div class="col-sm-offset-2 top-buffer">CHANGE PERCENTAGE
							</div>
					</div>
					<div class="col-sm-5 top-buffer">
						<div range-slider min="0" max="percent.maxPercent" model-min="percent.min" model-max="percent.max" ></div>
					</div>
					<div class="col-sm-2 top-buffer paddingCorrection">
						<div class="diff "> <span>{{percent.max - percent.min | number : 3}}%</span></div>
					</div>
				</div>
			</div>
			<div class="col-sm-5" style="padding-right: 30px;">
				<div class="row bottomBorder">
					<div class="col-sm-6 fileBtnPadding">
						<div class="row">
							<div class="col-sm-6 fileUploadText">
								View Report
							</div>
							<div class="col-sm-3 noPadding">
								<img src = "images/pdf.png">
							</div>
							<div class="col-sm-3 noPadding">
								<img src = "images/excel.png">
							</div>
						</div>
					</div>
					<div class="col-sm-6  leftBorder fileBtnPadding">
						<div class="row">
							<div class="col-sm-6 fileUploadText">
								Mail Report
							</div>
							<div class="col-sm-6 noPadding">
								<img src = "images/mailReport.png">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="fileBtnPaddingBottom">
						<div class="row">
							<div class="col-sm-5 fileUploadText">
								Upload New Rates
							</div>
							<div class="col-sm-6 noPadding">
								<button class="btn btn-chooseApp" ng-click="simiulateDataLoad();">Choose App to Upload</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="background-color: #fff;">
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	</div>
</div>
<div class="pull-right" style="font-family:calibri;color:#000;padding:10px 30px 0px 0px">Designed and Developed By <em>HCL</em> Innovation Lab</div>

