<ul class="nav nav-pills nav-justified" role="tablist" >
	<li><a ng-class="getClass('/home')"  href="#/home">&lt;/&gt;image of gaic&lt;/&gt;</a></li>
	<li><a ng-class="getClass('/dashBoard')" href="#/dashBoard">Dashboard</a></li>
	<li><a ng-class="getClass('/corCalci')" href="#/corCalci">COR Calculator</a></li>
	<li><a ng-class="getClass('/rateImpactor')" href="#/rateImpactor">Rate Impactor</a></li>
	<li><a ng-class="getClass('/busiCrossSell')" href="#/busiCrossSell">Business Cross Selling</a></li>
</ul>
